In [1]:
import pandas as pd
from fuzzywuzzy import fuzz
from fuzzywuzzy import process

In [2]:
programs = pd.read_csv("programs.csv")

In [3]:
programs

                                 naam    merk   type
0      De krantencommentaren | VRT NU   klara  audio
1                              Touché  radio1  audio
2                         Alles goed?  radio2  audio
3                            Odysseus  radio1  audio
4                        Sporza Koers  sporza  audio
...                               ...     ...    ...
5855                            Broer     een  video
5856               Brokeback mountain  canvas  video
5857                         J'accuse  canvas  video
5858  Mantises - masters of deception     een  video
5859               Rikkie de ooievaar  ketnet  video

[5860 rows x 3 columns]

In [36]:
user_input = "met mij alles goed"

In [37]:
programs_list = list(programs.naam)
output = []
for program in programs_list:
    try:
        score = fuzz.partial_ratio(program.lower(),user_input.lower())
    except:
        score = 0
    output.append((program,score))

In [39]:
sorted(
    output, 
    key=lambda x: x[1],
    reverse=True
)[0]

('Alles goed?', 95)